.filter {
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: grey;
}

.form-items {
  margin-top: 50px;
  margin-bottom: 100px;
}
.form-items > * {
  margin-right: 5px;
  opacity: 80%;
}
